body {
  margin: 0;
  padding: 0;
  font-family: "Patrick Hand", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  background: #f4f1ea;
}

/* “Hoja” */
.notebook {
  background: repeating-linear-gradient(
    to bottom,
    #ffffff 0px,
    #ffffff 28px,
    #e7eefc 29px
  );
  border-radius: 14px;
  padding: 28px 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}

/* Margen rojo del cuaderno */
.notebook::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;              /* posición del margen */
  width: 1px;              /* margen fuerte */
  height: 100%;
  background: #a19c9c;     /* rojo cuaderno */
}

/* Para que el contenido no pise el margen */
.notebook-content {
  padding-left: 72px;   /* separa el texto del margen rojo */
  padding-right: 24px;
}

/* Mobile: ocultar margen rojo tipo cuaderno */
@media (max-width: 576px) {
  .notebook::before {
    display: none;
  }

  .notebook-content {
    padding-left: 24px; /* vuelve al padding normal */
  }
}
